h1,
h2,
h3 {
  font-family: "Love Ya Like A Sister", cursive;
}

p {
  font-family: "Sanchez", serif;
  font-size: 32px;
}
img {
  width: 100px;
  height: 100px;
  margin-right: 50px;
  float: left;
}
